BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 110
NamespaceIndentation: None
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
PointerAlignment: Left
SortIncludes: CaseSensitive
